:root {
    --main-font: "Open Sans", serif;
    --main-font-size: 17.3px;
    --mobile-font-size: 16px;
    --secondary-font: "Rancho", serif;
    --h3-font: "Happy Monkey", serif;
    --background: #F3FAFD;
    --blue-highlight: #3B789B;
    --blue-tag: #89CFF0;
    --pink-tag: #F6B8E2;
    --yellow-tag: #FFEA80;
    --green-tag: #CFF089;
    --purple-tag: #D5BFFF;
    --max-width: 1020px;
    --nav-max-width: 1250px;
}

html {
    font-family: var(--main-font);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: var(--main-font-size);
}

body {
    width: 100%;
    background-color: #F3FAFD;
    margin: 0 auto;
}

body > section, main > section {
    width: 70%;
    margin: 0 auto;
    padding-top: 90px;
    margin-top: -45px;
    max-width: var(--max-width);
}

a {
    text-decoration: none;
    color: black;
}

.flex, .row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.top-section {
    width: 100%;
    max-width: unset;
}

/* header/navigation styling */
header {
    width: 100%;
    position: sticky;
    top: -1px;
    background-color: var(--background);
    z-index: 1000;
    /* margin: 45px auto; */
    border-bottom: thick solid black;
    /* box-shadow: 0px 15px 10px -15px #111;     */
}

nav {
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px 0;
    max-width: var(--nav-max-width);
}

#hamburger {
    display: none;
}

#hamburger p {
    margin: 0;
}

#hamburger i.hidden {
    display: none;
}

#homepage-link {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    align-items: center;
    gap: 15px;
}

.left-section {
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
}

.left-section li {
    padding: 5px;
    min-width: 80px;
    text-align: center;
}


.left-section li:hover, .left-section a:focus, .active {
    /* background-color: pink;
    border: thin black solid; */
    font-weight: bold;
}

.active {
    font-size: 115%;
}

/* top white section */
#white-section {
    background-color: white;
    padding-top: 0;
    padding-bottom: 53px;
    line-height: 29.12px;
    margin-top: revert;
}

#white-section p {
    padding: 16px 0;
}

.container {
    width: 70%;
    max-width: var(--max-width);
    margin: 0 auto;
}

.container * {
    margin: 0;
}

.container img, .container h1 {
    display: inline-block;
}

.container h1 {
    font-size: 34px;
    padding: 8.5px 0;
}

.container img {
    position: relative;
    top: 10px;
    left: 36px;
    z-index: 0;
}

#smaller-dandelions {
    display: none;
}

.blue-highlight {
    background-color: var(--blue-highlight);
    color: white;
    padding: 0 5px;
}

.italics {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.light {
    font-weight: 500;
}

/* portfolio section */
section h2 {
    padding-bottom: 45px;
    font-size: 28px;
    margin: 0;
}

#portfolio > .row {
    margin-bottom: 38px;
    justify-content: space-between;
    position: relative;
    gap: 38px;
}

#portfolio > .row:last-child {
    margin-bottom: 0;
}

.project {
    background-color: white;
    border: 3px solid black;
    border-radius: 6px;
    padding: 22px;
    width: 45%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.project h3 {
    font-family: var(--h3-font);
    font-weight: bolder;
    font-size: 24px;
    margin: 16px 0;
}

.row .project img, #cookieRun img {
    order: -1;
}

.row .project > p, #cookieRun > p {
    line-height: 105%;
    margin-top: 0;
    margin-bottom: 16px;
}

.project a[href]::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#cookieRun {
    margin-right: calc(50% + 19px);
}

.tags {
    flex-wrap: wrap;
    gap: 22px;
    margin-top: auto;
}

.tags p {
    font-family: var(--secondary-font);
    font-size: 20px;
    background-color: bisque;
    box-shadow: 0px 3.5px 4px #b8b8b8;
    display: inline-block;
    padding: 5px 10px;
    border: thin black solid;
    margin: 0;
}

#visit-day .tags p {
    background-color: #FF4DA6;
    background-color: var(--pink-tag);
}

#umd-volunteers .tags p {
    background-color: var(--blue-tag);
}

#meteorite .tags p {
    background-color: var(--green-tag);
}

#yourPOV .tags p {
    background-color: var(--yellow-tag);
}

#cookieRun .tags p {
    background-color: var(--purple-tag);
}

.cloud, .middle-cloud {
    z-index: 10;
    position: absolute;
}

.middle-cloud {
    top: 50%;
}

.cloud + .middle-cloud {
    left: -150px;
}

.project + .middle-cloud {
    right: -150px;
}

.cloud:first-child {
    top: -25px;
    left: -25px;
}

.cloud:last-child {
    bottom: -25px;
    right: -25px;
}

.project img, #name-tag, #headshot {
    width: 100%;
    height: auto;
}

/* about section */
#about > .row {
    justify-content: space-between;
}

#about-text {
    /* flex-shrink: 2; */
    width: 55%;
    margin-right: 30px;
    /* line-height: 135%; */
}

#about-text p:first-child {
    margin-top: 0;
}

#about-text p:last-child {
    margin-bottom: 0;
}

.photo-container {
    width: 45%;
    position: relative;
}

.photo-container > .row {
    justify-content: flex-end;
}

#name-tag {
    width: 30%;
    max-width: 147px;
    align-self: flex-start;
}

#headshot {
    width: 70%;
    max-width: 350px;
}

/* contact section */
#contact h2 {
    padding-bottom: 0;
    font-weight: 600;
}

i {
    font-size: 25px;
}

#contact .row {
    align-items: center;
}

#links {
    gap: 36px;
}

.row i{
    margin-left: 0;
    margin-right: 15px;
}

#email p {
    margin: 0;
}

#github i, #linkedin i {
    padding: 5px;
}

#contact {
    margin-bottom: 45px;
}

/* media queries */
@media only screen and (max-width: 1014px) {
    /* increase width of body content */
    body > section, main > section, .container {
        width: 85%;
    }

    nav {
        width: 90%;
    }

    #white-section {
        width: revert;
    }

    /* remove middle clouds from portfolio section */
    .middle-cloud {
        display: none;
    }

    /* about section */
    .photo-container .row {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #about-text {
        margin-right: 50px;
    }

    #name-tag, #headshot {
        width: 100%;
    }

    #name-tag {
        z-index: 10;
    }

    #headshot {
        position: relative;
        top: -30px;
    }

}

@media only screen and (max-width: 775px) {
    /* navigation */
    nav div.row {
        width: 100%;
        justify-content: space-between;
    }

    #hamburger {
        display: flex;
        gap: 8px;
        font-size: inherit;
        align-items: center;
        background: none;
        border: none;
        cursor: pointer;
    }

    .left-section {
        display: block;
        padding-left: 0;
        margin-top: 20px;
        align-self: flex-start;
    }

    .left-section li {
        text-align: left;
    }

    .hidden {
        display: none;
    }

    #portfolio > .row, #about > .row, nav {
        flex-direction: column;
    }

    .project, #about-text, .photo-container {
        width: revert;
    }

    #cookieRun {
        margin-right: unset;
    }

    #about-text {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .photo-container {
        align-self: center;
    }


}

@media only screen and (max-width: 650px) {
    /* change dandelion image to smaller one */
    #wider-dandelions {
        display: none;
    }

    #smaller-dandelions {
        display: initial;
        left: 7px;
    }

}

@media only screen and (max-width: 455px) {
    /* decrease font sizes */
    body {
        font-size: var(--mobile-font-size);
    }

    section h2 {
        font-size: 24px;
        padding-bottom: 25px;
    }

    .project h3 {
        font-size: 21px;
    }

    .tags p {
        font-size: 18px;
    }

    /* change spacing between section */
    section {
        padding-top: 65px;
        margin-top: -40px;
    }

    /* top white section */
    #white-section {
        padding: 32px 0;
    }

    #white-section p {
        padding-top: 3px;
        padding-bottom: 0;
    }

    .container h1 {
        font-size: 30px;
        padding: 0;
        margin: initial;
    }

    #smaller-dandelions {
        display: none;
    }

    #portfolio > .row {
        gap: 20px;
    }

    #headshot {
        max-width: unset;
    }

    #email p {
        display: none;
    }
}